nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 32px 0px;
}
.input-wrapper {
  position: relative;
  display:inline-block;

  width: 271px; 
}

.input {
  box-sizing: border-box;
  background-color:#a2a2a226;
 
  padding: 13px 0px 17px 13px;
  width: 310px;
  height:hug(50px);
  border-radius:20px; 
  top:5px;
  border:none;
  height: 2.3REM;
}

.input.password {
  padding: 15px 45px 15px 15px;
}

.input-icon {
  color: #918080;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 275px;
  top: 50%;
  transform: translateY(-50%);
  Padding:8px, 16px, 8px, 16px;
}

.input-icon.password {
  left: unset;
  right: 12px;
}


.button-login{
  color: #2A7AE4;
  width: 150px;
  height: 19px;
  padding: 18px 18px 18px 18px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  border-radius: 2px solid blue;
  border: 2px solid #2A7AE4;
  
}


.header-banner{
  max-width: 100%;
  width:2000px;
  height: 480px;
  object-fit:cover;


 
}
.header-h1{
  position: absolute;
  color: white;
}
.header-subtitulo{
  position: absolute;
  color: white;
}
.header-button{
  position: absolute;
  color: white;
  background-color: red;
 
}



























