* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* NAV */

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 32px 0px;
}
.nav-input-wrapper {
  position: relative;
  display:inline-block;
  width: 271px; 
}
.nav-input {
  box-sizing: border-box;
  background-color: #a2a2a226;
  padding: 20px 0px 25px 13px;
  width: 459px;
  height: hug(50px);
  border-radius: 20px;
  top: -22px;
  border: none;
  height: 2.3REM;
  position: absolute;
  margin-left: -22rem;
}
.nav-input-icon {
  color: #918080;
  position: absolute;
  width: 29px;
  height: 20px;
  left: 62px;
  top: 53%;
  transform: translateY(-50%);
  Padding:8px, 16px, 8px, 16px;
}
.nav-button-login{
  color: #2A7AE4;
  width: 179px;
  height: 19px;
  padding: 25px 18px 25px 18px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  border: 2px solid #2A7AE4;
  margin-right: 1rem;

}

/* Header */
.header-container{
  display: flex;
  flex-direction: column;
    align-items: center;
    width: 100%;
    height: 66vh;
}
.header-banner{
  position: absolute;
  max-width: 100%;
  width:2000px;
  height: 480px;
  object-fit:cover;
}
.header-h1{
  position: absolute;
  color: white;
  z-index: 2;
  top: 20rem;
  left: 12.4rem;
  font-family: "raleway";
  font-weight: 700;
  font-size: 69px;
  line-height: 89.05px;
}
.header-subtitulo{
  position: absolute;
    color: white;
    z-index: 2;
    top: 27rem;
    left: 12.6rem;
    font-weight: 600;
    font-size: 27px;
    line-height: 26px;

}
.header-button{
  width: 148px;
  height: 3.7rem;
  position: absolute;
  color: white;
  background-color: #2A7AE4;
  border: 2px solid #2A7AE4;
  z-index: 2;
  top: 30.5rem;
  left: 12.5rem;
  font-size: 19px;
 
}
.header-container2{
  display: flex;
    flex-direction: column;
    align-items: center;

}



/* Section  */

.container-cards{
    
  background-color: white;
  display: flex;
  gap: 40px;
  align-items: flex-end;
  margin-left: 11rem;
  margin-top: -1rem;
}

.section-fusion{
  display: flex;
  /* flex-direction: column; */
}
.section-2container{
  display: flex;
  flex-direction: column;
}

.section-productos{
  display: flex;

}
.section-productos2{
  display: flex;
  margin-top: 11rem;

}
.section-productos3{
  display: flex;
  margin-top: 11rem;

}

.section-star-flecha{
  display: flex;
}
.section-view{
  color: #2A7AE4;
  font-weight: 500;
  font-family: inherit;
  font-size: 27px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 1px;
  text-decoration: none;
  margin-left: 1.5rem;
  
  
}
.section-view-arrow2{
  display: flex;
  margin-left:97.4rem;
  position: absolute;
  margin-top: -4.5rem;
}
.section-arrow{
  background-size: 100%;
  width: 45px;
  height: auto;
  object-fit: none;
}
.section-star-view{
  display: flex;
  
}
.section-h1{
  font-family: Raleway;
  font-weight: bold;
  margin-top: 0rem;
  color: #464646;
  font-size: 42px;
  margin-left: 11rem;
  margin-top: -81px;
}
.section-precio{
  color: #464646;
  font-weight: bolder;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.section-ver-producto{
  text-decoration: none;
  color: #2A7AE4;
  font-weight: bold;
  font-size:19px;
}
.section-descripcion{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.section-producto{
  display: flex;
  flex-direction: column; 
  transition-duration: 0.8seg;
  transition-delay: 0.2s;

} 
.section-producto:hover{
  transition: 0.2seg;
 /* border: 2px solid #2A7AE4; */
 transition: #2A7AE4 0.8s linear 0.2s;
 background-color: #f8f9fe;
}

.section-producto1{
  width: 225px;
  height: 225px;
  object-fit: cover;
  transition-duration: 0.8seg;
  transition-delay: 0.2s;
}


.section-producto:hover{
  border: 1px solid #2A7AE4;

  cursor:pointer;
  
}
.section-producto2:hover{
  border: 1px solid #2A7AE4;
 
  cursor:pointer;
  
  
}
.section-producto3:hover{
  border: 1px solid #2A7AE4;
  transition: 4seg;
  
  
}
.section-producto4:hover{
  border: 1px solid #2A7AE4;;
  transition: 4seg;
  
  
}
.section-producto5:hover{
  border: 1px solid #2A7AE4;
  transition: 4seg;
  
  
}
.section-producto6:hover{
  border: 1px solid #2A7AE4;
  transition: 4seg;
  
  
}




















