* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* NAV */

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 32px 0px;
}
.nav-input-wrapper {
  position: relative;
  display:inline-block;
  width: 271px; 
}
.nav-input {
  box-sizing: border-box;
  background-color:#a2a2a226;
  padding: 13px 0px 17px 13px;
  width: 310px;
  height:hug(50px);
  border-radius:20px; 
  top:5px;
  border:none;
  height: 2.3REM;
}
.nav-input-icon {
  color: #918080;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 275px;
  top: 50%;
  transform: translateY(-50%);
  Padding:8px, 16px, 8px, 16px;
}
.nav-button-login{
  color: #2A7AE4;
  width: 150px;
  height: 19px;
  padding: 18px 18px 18px 18px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  border-radius: 2px solid blue;
  border: 2px solid #2A7AE4;
}

/* Header */
.header-container{
  display: flex;
  flex-direction: column;
    align-items: center;
}
.header-banner{
  position: absolute;
  max-width: 100%;
  width:2000px;
  height: 480px;
  object-fit:cover;
}
.header-h1{
  position: absolute;
    color: white;
    z-index: 2;
    top: 21rem;
    left: 10rem;
font-weight: bolder;
}
.header-subtitulo{
  position: absolute;
    color: white;
    z-index: 2;
    top: 25rem;
    left: 10rem;
    font-weight: bolder;

}
.header-button{
  width: 140px;
  height: 3.5rem;
  position: absolute;
    color: white;
    background-color: #2A7AE4;
    z-index: 2;
    top: 27.8rem;
    left: 10rem;
 
}
.header-container2{
  display: flex;
    flex-direction: column;
    align-items: center;
}


























