.container-cards3{
    
    background-color: #E5E5E5;
    display: flex;
    gap: 40px;
    align-items: flex-end;
    margin-top: 7.5rem;
    margin-left: 11rem;
  
    padding: 0px 0px 83px 0px;
 
  }
  
  .section-fusion{
    display: flex;
    /* flex-direction: column; */
  }
  .section-2container{
    display: flex;
    flex-direction: column;
  }
  
  .section-productos{
    display: flex;
  
  }
  .section-productos2{
    display: flex;
    margin-top: 11rem;
  
  }
  .section-productos3{
    display: flex;
    margin-top: 11rem;
  
  }
  
  .section-star-flecha{
    display: flex;
  }
  .section-view{
    color: #2A7AE4;
    font-weight: 500;
    font-family: inherit;
    font-size: 27px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 1px;
    text-decoration: none;
    margin-left: 1.5rem;
    
    
  }
  .section-view-arrow2{
    display: flex;
    margin-left:97.4rem;
    position: absolute;
    margin-top: -4.5rem;
  }
  .section-arrow{
    background-size: 100%;
    width: 45px;
    height: auto;
    object-fit: none;
  }
  .section-star-view{
    display: flex;
    
  }
  .section-h1{
    font-family: Raleway;
    font-weight: bold;
    margin-top: 0rem;
    color: #464646;
    font-size: 42px;
    margin-left: 11rem;
    margin-top: -81px;
  }
  .section-precio{
    color: #464646;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .section-ver-producto{
    text-decoration: none;
    color: #2A7AE4;
    font-weight: bold;
    font-size:19px;
  }
  .section-descripcion{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .section-producto{
    display: flex;
    flex-direction: column; 
    transition-duration: 0.8seg;
    transition-delay: 0.2s;
  
  } 
  .section-producto:hover{
    transition: 0.2seg;
   /* border: 2px solid #2A7AE4; */
   transition: #2A7AE4 0.8s linear 0.2s;
   background-color: #f8f9fe;
  }
  
  .section-producto1{
    width: 225px;
    height: 225px;
    object-fit: cover;
    transition-duration: 0.8seg;
    transition-delay: 0.2s;
  }
  
  
  .section-producto:hover{
    border: 1px solid #2A7AE4;
    background-color: #f8f9fe;
    cursor:pointer;
    
  }
  .section-producto2:hover{
    border: 1px solid #2A7AE4;
    background-color: #f8f9fe;
    cursor:pointer;
    
  }
  .section-producto3:hover{
    border: 1px solid #2A7AE4;
    background-color: #f8f9fe;
    cursor:pointer;
    
  }
  .section-producto4:hover{
    border: 1px solid #2A7AE4;
    background-color: #f8f9fe;
    cursor:pointer;
    
  }
  .section-producto5:hover{
    border: 1px solid #2A7AE4;
    background-color: #f8f9fe;
    cursor:pointer;
    
  }
  .section-producto6:hover{
    border: 1px solid #2A7AE4;
    background-color: #f8f9fe;
    cursor:pointer;
    
  }
.logo-alura-latam3{
    margin-right: 45.5rem;
}




  * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* NAV */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 32px 0px;
}
.nav-input-wrapper {
  position: relative;
  display: inline-block;
  width: 271px;
}
.nav-input3 {
  box-sizing: border-box;
  background-color: #a2a2a226;
  padding: 20px 0px 25px 13px;
  width: 400px;
  height: hug(50px);
  border-radius: 20px;
  top: -22px;
  border: none;
  height: 2.3rem;
  position: absolute;
  margin-left: -66rem;
}
.nav-input-icon {
  color: #918080;
  position: absolute;
  width: 29px;
  height: 20px;
 right: 59rem;
  top: 53%;
  transform: translateY(-50%);
  padding: 8px, 16px, 8px, 16px;
}
.nav-button-login2 {
  color: #2a7ae4;
  width: 191px;
  height: 19px;
  padding: 25px 18px 25px 18px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
  border: 2px solid #2a7ae4;
  margin-right: 1rem;
}

/*  Form */
.section-img-logo {
  margin-bottom: 11rem;
}

.section-formcontainer3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 64px 10px 56px 10px;
  gap: 115px;
  width: 1903px;
  height: 40vh;
  background-color: #eaf2fd;
  flex-wrap: wrap;
}
.section-p-hable {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: bold;
  color: #464646;
  /* font-size: 32px;
  font-weight: 400;
  text-align: center; */



}
.section-p-hable2 {
  margin: 0px;
  padding: 5px 0px 9px 0px;
  box-sizing: border-box;
  font-weight: bold;
  color: #464646;
  font-size: 32px;
  font-weight: 700;
  text-align: center;



}

.section-form-i {
  display: flex;
  flex-direction: column;
}
.section-input-01 {
  width: 560px;
  height: 56px;
  background: #ffffff;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  border: none;
  margin-bottom: 14px;
  padding: 0px 0px 25px 9px;
  font-size: 12px;
  
}
.section-input-2 {
  width: 560px;
  height: 72px;
  background: #ffffff;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  border: none;
  margin-top: 6px;
  padding: 0px 0px 29px 15px;
  font-size: 14px;
}


.section-btn-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 144px;
  height: 51px;
  background: #2a7ae4;
  flex: none;
  order: 2;
  flex-grow: 0;
  border: none;
  margin-top: 12px;
  color: white;
}
footer {
    min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 19px;
  font-weight: bold;
}
main {
  min-height: 48.3vh;
  background: #E5E5E5;
}

.add-product-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
height: 58vh;



}
.section-btn-form2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 559px;
  height: 51px;
  background: #2a7ae4;
  flex: none;
  order: 2;
  flex-grow: 0;
  border: none;
  margin-top: 12px;
  color: white;
}
.producto-img{
    width: 560px;
height: 403px;
object-fit: cover;
left: 508px;
top: 206px;
margin-left: 6rem;
}
.producto-contenedor{
    display: flex;
   margin-left: 5rem;
   padding: 91px 0px 0px 0px;
}
.producto-descripcion{
    font-size: 37px;
    font-weight: 700;
    margin-top: 6.8rem;
    margin-left: -8rem;

}
.producto-descripcion2{
    width: 54rem;
    margin-left: -7.7rem;

}
.producto-info{
    display: flex;
    flex-direction: column;

    width: 590px;
height: 61px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 31px;
/* identical to box height */
margin-left: 9rem;

/* Preto/100% */

color: #464646;


}
.producto-precio{
    margin-left: -8rem;
    font-weight: bolder;
}
 


.productos-h2{
    position: absolute;
    background-color: #E5E5E5;
    margin-top: 3.9rem;
    margin-left: 11rem;
}



